
/* Menu de inicio de sesion */
.dropdown-menu {
    border-left: 1px solid #e1e8ef;
    left: -200%;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    position: absolute;
    width: 280px;
    background-color: white;
}

/* Titulo */
hgroup { 
	padding-left: 15px; 
	border-bottom: 1px solid #ccc; 
}

/* Titulo h1 */
hgroup h1 { 
	font-size: 22px;
	color: #2a3644; 
	margin-top: 0; 
	line-height: 1.15; 
}

/* Titulo h2 */
hgroup h2.lead { 
	font-size: 16px;
	color: #2a3644; 
	margin: 0; 
	padding-bottom: 10px;
	display: inline-block; 
}

hgroup .time {
	font-size: 12px;
	padding-left: 10px;
	color: #808080;
}

/* Imagen del resultado */
.search-result .thumbnail { 
	border-radius: 0; 
	width: 22%;
	display: inline;
	float: left;
	padding: 0px;
	margin: 0px 30px 0px 0px;
}

/* Primer resultado */
.search-result:first-child { 
	margin-top: 0; 
}

/* Resultados */
.search-result { 
	margin-top: 20px; 
}

/* Parte izquierda del resultado */
.search-result .obra-list { 
	min-height: 140px; 
	display: inline;
	white-space: nowrap;
}

/* Lista de datos de la parte izquierda */
.search-result ul { 
	padding-left: 0; 
	list-style: none;  
}

/* Lista de datos de la parte izquierda */
.search-result ul li { 
	font-size: 12px;
	line-height: 30px; 
}

/* Parte derecha del resultado */
.search-result .col-md-7 { 
	border-left: 1px dotted #ccc; 
	position: relative;
	padding-top: 8px;
}

/* Titulo del resultado */
.search-result h3 { 
	font-size: 18px;
	margin-top: 0; 
	margin-bottom: 10px; 
}

/* Enlace del itulo del resultado */
.search-result h3 > a, .search-result i { 
	color: #248dc1; 	
}

/* Parrafo del resultado */
.search-result p { 
	font-size: 15px;
}
 
 /* Borde */
.search-result span.border { 
	display: block; 
	width: 97%; 
	margin: 0 15px; 
	border-bottom: 1px dotted #ccc; 
}